.DS_Store
node_modules/*
ui/node_modules/*
sessions/*
workspace/*
ui/dist/*
agents/*/*.md
agents/*/config.json
agents/*/sessions/*
config/config.json
config.json
dist/*
logs.db
agents/*/memory_index.db
whatsapp_auth/
.openkiwi.key
.env
CLAUDE.md
release/*
skills/*
screenshots/*
agents/*