:root {
  --red-swatch-light: rgb(239, 68, 68);
  --red-swatch-dark: rgb(249, 199, 199);
}

:root.light.theme-red,
:root:not(.dark).theme-red {
  --accent-primary: var(--red-swatch-light);
  --user-chat-bubble-bg: rgb(220, 38, 38);
  --toggle-on-bg: var(--red-swatch-light);
}

:root.dark.theme-red {
  --accent-primary: var(--red-swatch-dark);
  --user-chat-bubble-bg: rgb(185, 28, 28);
  --toggle-on-bg: var(--red-swatch-dark);
}